<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SeptWeiTu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B7D840F1CC8855900157C19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B7D84281CC8855C00157C19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B7D84331CC8855C00157C19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
